.interesting-fact {
    margin-top: 60px;
    color: var(--white);
    font-family: var(--font);
}

.interesting-fact__text-wrapper {
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 30px;
    background-color: #202020;
    border-radius: 20px;
}

.interesting-fact__title {
    text-align: center;
}

.interesting-fact__video {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}